body {
    color: #333333;
    font-family: arial;
    max-width:650px;
    margin: 0 auto;
    padding:0 16px;
}

footer{
    color: #888888;
    border-top: 1 px  solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top: 16 px;
    margin-bottom: 48 px;
}

h1{
    font-size: 128 px;
    margin-bottom: 16 px;
}

header a{
    color: #888888;
    margin-right: 16 px;
    text-decoration: none;
}